*{margin:0px;
padding:0px;}

body{
	background-image:url(../Pics/background.jpg);
	background-size:cover;
	font-family: 'Roboto', sans-serif;
	}

.w3-label{
	color: #000000;
}

h2{
	text-align:center;}

.name{
	width:100%; 
	text-align:center; 
}

.w3-table{
	margin-top:25px;
	background-color: rgba(103,103,103,0.8);

	}
.shadow:focus{
   box-shadow: 10px 10px 5px #262525;
   }
.send {
  	margin:auto;
  display:block;
}
.error_msg{
	width: 50%;  
	margin: 5px auto; 
	border: 1px solid #e23232; 
	background: #b17272; 
	color: #FF0000;
	text-align: center;
	}
	


@media screen and (max-width: 601px) {
.header{
display: none;
}

.aside:hover img{
	opacity:1;
	transform:scale(0.8);
}
.aside img:hover{
	opacity:1;
	transform: scale(1);
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	border:3px solid black;
}

.search{
	margin-top:-54px;
	padding-bottom:35px;
	}
	




