@charset "utf-8";
/* CSS Document */

.logreg{
	width:70%;
}
.left{
	float:left;
}
.right{
	float:right;}



label{
	display:block;
margin-top:25px;
color:#666633;
letter-spacing:2px;
font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
font-size:14px;

}  
	




form{
	padding:20px;
}
input, textarea, select{
	width:80%;
	height:20px;
	background:#efefef;
	border:1px solid #666633;
	padding:10px;
	margin-top:3px;
	font-size:13px;
	color:#666633;
	border-radius:5px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
}





input:focus{
   box-shadow: 10px 10px 5px #888888;}

.posalji{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color:#666633;
	display:block;
    width:40%;
	margin:0 auto;
    height:50px;
	text-align:center;
    border:none;
 
    cursor:pointer;
	
}

.posalji:hover {
	    opacity:0.8;
		border: 1px solid #666633;
	}
	
